<nav ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="nav-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nabvar-controller">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand pull-left">Daily Finance App</a>
    </div>
    <div class="collapse navbar-collapse" id="nabvar-controller">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button type="button" ng-click="deleteAll()" ng-if="noData !== undefined" ng-disabled="noData || noData === undefined" class="btn btn-danger navbar-btn left-margin">Delete All</button>
        </li>
        <li>
          <button type="button" ng-click="" ng-if="noData !== undefined" ng-disabled="noData || noData === undefined" class="btn btn-danger navbar-btn left-margin">Delete Account</button>
        </li>
        <li>
          <a href ng-click="logout()">
            <strong>Log out</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>