<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" focus>
        <h3>{{ title }}</h3>
      </div>
      <div class="modal-body">
        <form name="retrievePasswordForm">
          {{ message }}
          <input name="userEmail" class="form-control" type="email" ng-model="email" placeholder="Please enter your email" autofocus required>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="close('ok')" class="btn btn-default">Close</button>
        <button ng-click="close('submit')" class="btn btn-primary" ng-disabled="!retrievePasswordForm.userEmail.$valid">Submit</button>
      </div>
    </div>
  </div>
</div>