.modal {
  display: block;
  overflow-y: auto;
  &.fade {
    top: -75%;
  }
}

// Modal background
.modal-backdrop {
  background-color: #000;
  @include opacity(0.5);
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.fade.in { @include opacity(.5); }
}

.modal-dialog {
  padding-top: 0;
}

// Actual modal
.modal-content {
  border-radius: 0;
  padding-bottom: 10px 50px;
  color: #222;
  .text-info{
    color: rgb(179, 179, 179);
  }
  a{color:inherit;}
  a:hover{color:rgb(024, 151, 211);}
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: 10px 50px;
  border-bottom: 0;
  min-height: (10px 50px + 1.428571429);
}
// Close icon
.modal-header .close {
  margin-top: -2px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: 1.428571429;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  padding: 10px 50px;
}

// Footer (for actions)
.modal-footer {
  margin-top: 15px;
  padding: 10px 50px 30px;
  text-align: left; // right align buttons
  border-top: 0;
}
