<div ng-include src="'views/nav.html'"></div>

<div class="container">

<form action="post" class="panel panel-default col-md-6 col-md-offset-3" role="form">

  <fieldset>
    <legend>XXX</legend>
    <p class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="Username">
    </p>
    <p class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control">
      <span class="input-group-addon">.00</span>
    </p>
  </fieldset>

<button type="submit" class="btn btn-primary col-xs-12" ng-click="">
  <span class="glyphicon glyphicon-plus-sign"></span>  Add
</button>

</form>

</div>