<div class="container login-padding">
  <div class="row">
    <form class="panel panel-default col-md-6 col-md-offset-3" ng-submit="login()" role="form">
      <fieldset>
        <legend>Daily Finance App</legend>
        <h5>
          <small>Please login with your account</small>
        </h5>
        <p class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="email" class="form-control" ng-model="credentials.username" placeholder="Email" required autofocus>
        </p>
        <p class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input type="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
        </p>
        <button type="submit" class="btn btn-primary col-xs-12">Sign in</button>
        <hr>
        <div class="col-xs-12 login-footer">
          <a class="col-xs-6 text-center" href="" ng-click="lostPassword()">Forgot Your Password?</a>
          <a class="col-xs-6 text-center" href="#/signUp">Create An Account</a>
        </div>
      </fieldset>
      <div id="flash" class="col-xs-12 alert alert-warning" ng-show="flash">{{ flash }}</div>
    </form>
  </div>
</div>