<div ng-include src="'views/nav.html'"></div>

<div class="container">

  <div ng-if="data.length === 0">
    <div ng-include src="'views/empty.html'"></div>
  </div>
  <div ng-if="data.length !== 0">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in data">
        <a class="list-group-item" href="#/detail/{{item.expenseId}}?userId={{item.uesrId}}">
          <span>{{item.name}}</span>
          <span>{{item.price}}</span>
          <span>{{item.date | date:'medium'}}</span>
          <span>{{item.time}}</span>
        </a>
      </li>
    </ul>
  </div>

  <button type="submit" class="btn btn-primary col-xs-12 bottom-margin" ng-click="addNew()">
    <span class="glyphicon glyphicon-plus-sign"></span>{{addButtonTitle}}
  </button>
</div>

<div ng-include src="'views/modal/errorWarning.html'"></div>