<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="nav-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nabvar-controller">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand pull-left">Daily Finance App</a>
    </div>
    <div class="collapse navbar-collapse nabvar-controller">
      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-click="logout()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>